/* You can add global styles to this file, and also import other style files */

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  // padding: 30px;
  padding-top: 0px;
  // position: relative;
}

html,
body {
  height: 100%;
}

* {
  scroll-margin-top: 64px;

  scroll-behavior: smooth;
}
