.test {
  overflow: auto;
  max-height: 200px;
}

.menu-section-container {
  min-height: 1000px;
  display: flex;
  flex-wrap: wrap;
}

// .tabs-container {
//   display: flex;
//   justify-content: center;

//   position: -webkit-sticky;
//   height: 200px;
//   position: sticky;
//   top: 20px;
// }
// .tab-container {
//   max-width: 600px;
// }

.featured-area {
  margin-top: 50px;
  background-color: aquamarine;
  height: 200px;
}

.cart-summary-bar {
  position: fixed;
  bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  background-color: rgb(26, 25, 25);
  color: white;
}

::ng-deep .mat-tab-header {
  // background: white !important;
  // position: sticky !important;
  // top: 55px;
  // z-index: 3;
}
