// .cart-container {
//   display: flex;
//   flex-direction: column;
// }

.basket-title-container {
  display: flex;
  font-size: 22px;
  font-style: bold;
}
.basket-title-text {
  flex: 1 1 auto;
}
.basket-title-close-button {
  //   width: 20%;
}

.cart-item {
  margin: 15px;
  display: flex;

  align-items: center;
}

.cart-item-detail {
  flex-grow: 1;
}

.cart-count-control {
  //   width: 10%;
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: center;
}
.cart-item-price {
  font-size: 22px;
  width: 10%;

  padding: 15px;
}

.cart-total {
  margin: 20px;
  padding: 15px;
  display: flex;
  font-size: 22px;
  font-style: bold;
}
.total-text {
  flex: 1 1 auto;
}

.total-amount {
  width: 10%;
}

// .note-button-container {
//   display: flex;
//   flex-direction: column;
// }

// .note-container {
//   flex: 1 1 auto;
// }
.note-input {
  width: 100%;
}

.place-order-button {
  width: 100%;
  padding: 10px;
}

.place-order-button-text-container {
  display: flex;
}

.place-order-text {
  flex: 1 1 auto;
}

.close-button {
  text-align: center;
}
